<h2 class="text-center my-4">Regístrate</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-floating mb-3">
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder:"name@example.com" %>
          <%= f.label :email %>
        </div>
        <div class="form-floating mb-3">
          <%= f.password_field :password, class: "form-control", placeholder:"password" %>
          <%= f.label :password %>
        </div>
        <div class="form-floating mb-3">
          <%= f.password_field :password_confirmation, class: "form-control", placeholder:"confirm your password" %>
          <%= f.label :password_confirmation %>
        </div>
         <div class="form-floating mb-3">
          <%= f.text_field :name, class: "form-control", placeholder:"password" %>
          <%= f.label :name %>
        </div>
         <div class="form-floating mb-3">
          <%= f.text_field :last_name, class: "form-control", placeholder:"password" %>
          <%= f.label :last_name %>
        </div>
         <div class="form-floating mb-3">
          <%= f.text_field :dni, class: "form-control", placeholder:"password" %>
          <%= f.label :dni %>
        </div>
         <div class="form-floating mb-3">
          <%= f.date_field :birthdate, class: "form-control", placeholder:"birthdate" %>
          <%= f.label :birthdate %>
        </div>
         <div class="form-floating mb-3">
          <%= f.date_field :start_date, class: "form-control", placeholder:"start_date" %>
          <%= f.label :start_date %>
        </div>
         <div class="form-floating mb-3">
          <%= f.date_field :finish_date, class: "form-control", placeholder:"finish_date" %>
          <%= f.label :finish_date %>
        </div>
        <div class="form-floating mb-3">
          <%= f.label :department %>
          <%= f.select :department, [['Admin', 0], ['Desarrollo',1],['Administración', 2]], {}, class: "form-control" %>
        </div>

        <div class="form-floating mb-3">
          <%= f.label :department %>
          <%= f.collection_select :department, Department.all, :id, :name, { prompt: "Select department" }, class: "form-control" %>
        </div>


        <div class="actions text-center">
          <%= f.submit "Regístrate", class: "btn btn-success" %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

