<h5 class="text-center"><%= @worker.name.capitalize %> día: <%= @time_entry.entry_date.strftime("%d-%m-%Y") %></h5>
<table class="table">
  <thead>
    <tr>
      <th>Inicio descanso</th>
      <th>Fin descanso</th>
      <th>Motivo</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @breaks.each do |b| %>
      <tr>
        <td><%= b.start_time.present? ? b.start_time.strftime("%H:%M:%S") : "-" %></td>
        <td><%= b.end_time.present? ? b.end_time.strftime("%H:%M:%S") : "-"  %></td>
        <td><%= b.comment %></td>
        <td>
          <%= link_to worker_time_entry_break_path(@worker, @time_entry, b), class:"text-decoration-none text-reset" do %>
            <i class="bi bi-search"></i>
          <% end %>
          <% if current_worker.admin? %>
            <%= link_to edit_worker_time_entry_break_path(@worker, @time_entry, b), class:"text-decoration-none text-reset" do %>
              <i class="bi bi-pencil mx-1 text-primary"></i>
            <% end %>
            <%= link_to worker_time_entry_break_path(@worker, @time_entry, b), data: { turbo_method: :delete, turbo_confirm: "Estás seguro de borrar esa pausa?" } do %>
              <i class="bi bi-trash3 mx-1 text-danger"></i>
            <% end %>
          <% end %>    
        </td>
      </tr>
    <% end %>
  </tbody>
</table>