<%= form_with model: [@worker, @time_entry, @break] do |f| %>
  <%= render 'shared/errors', obj: @break %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-floating mb-3">
        <%= f.time_field :start_time, class: "form-control" %>
        <%= f.label :start_time %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-floating mb-3">
        <%= f.time_field :end_time, class: "form-control" %>
        <%= f.label :end_time %>
      </div>
    </div>
    <div class="col-md-12"> 
      <div class="form-floating mb-3 text-center">
        <%= f.text_area :comment, class: "form-control", style: "height: 200px;" %>
        <%= f.label :Motivo %>
      </div>
    </div>
    <div>
      <%= f.submit %>
    </div>
  </div>
<% end %>
