<h1>Descansos de <%= @worker.name %> del día <%= @time_entry.entry_date.strftime("%d-%m-%Y") %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Inicio descanso</th>
      <th>Fin descanso</th>
      <th>Motivo</th>
    </tr>
  </thead>
  <tbody>
    <% @breaks.each do |b| %>
      <tr>
        <td><%= b.start_time %></td>
        <td><%= b.end_time %></td>
        <td><%= b.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="my-3">
  <%= link_to "New Break", new_worker_time_entry_break_path(@worker, @time_entry), class: "btn btn-success" %>
</div>

