<%= form_with model: @department do |f| %>
<div class="container">
  <%= render 'shared/errors',obj: @department %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-floating mb-3">
        <%= f.text_field :name, class: "form-control", placeholder: " " %>
        <%= f.label :Nombre %>
      </div>
    </div>
    <div class="form-group">
      <%= f.submit (@department.new_record? ? "Crear departamento" : "Modificar" ), class: "btn btn-primary" %>
    </div>
  
  <% end %>
</div>