<table class="table">
  <thead>
    <tr>
      <th>Día</th>
      <th>Hora entrada</th>
      <th>Hora salida</th>
      <th>Pausas</th>
      <th>Acciones</th>

    </tr>
  </thead>
  <tbody>
    <% @time_entries.each do |te| %>
      <tr>
        <td><%= te.entry_date.strftime("%Y-%m-%d") %></td>
        <td><%= te.entry_date.strftime("%H:%M:%S") %></td>
        <td><%= te.exit_date.present? ? te.exit_date.strftime("%H:%M:%S") : "-" %></td>
        <td>
          <%= link_to "Ver", worker_time_entry_breaks_path(@worker, te) %>
        </td>
        <td><%= link_to "Borrar", worker_time_entry_path(@worker, te), data: { turbo_method: :delete } %></td>

      </tr>
    <% end %>
  </tbody>
</table>
