<%= form_with model: @worker do |f| %>

  <div class="container">
    <ul>
      <% @worker.errors.full_messages.each do |message| %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <li><%= message %></li>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    </ul>
    <div class="row">
      <div class="col-md-6">
        <div class="form-floating mb-3">
          <%= f.text_field :email, class: "form-control", placeholder: "email" %>
          <%= f.label :email %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating mb-3">
          <%= f.password_field :password, class: "form-control", placeholder: "password" %>
          <%= f.label :contraseña %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-floating mb-3">
          <%= f.text_field :name, class: "form-control", placeholder: "name" %>
          <%= f.label :Nombre %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating mb-3">
          <%= f.text_field :last_name, class: "form-control", placeholder: "last_name" %>
          <%= f.label :Apellidos %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-floating mb-3">
          <%= f.text_field :dni, class: "form-control", placeholder: "dni" %>
          <%= f.label :DNI %>
        </div>
      </div>
      <div class="col-md-4">
      <div class="form-floating mb-3">
        <%= f.collection_select :department_id, Department.all, :id, :name, { prompt: "Selecciona un departamento" }, class: "form-select", id: "floatingSelectGrid" %>
        <%= f.label :Departamento, "for" => "floatingSelectGrid" %>
      </div>
    
      </div>
      <div class="col-md-4">
        <div class="form-floating mb-3">
          <%= f.date_field :birthdate, class: "form-select", placeholder: "birthdate" %>
          <%= f.label :fecha_de_nacimiento %>
        </div>
      </div>
    </div>


    <div class="form-group my-3">
      <%= f.submit (@worker.new_record? ? "Agregar Trabajador" : "Modificar" ), class: "btn btn-primary" %>
    </div>  
      <div>
        <% if !@worker.new_record? %>
        <%= link_to "Eliminar", worker_path(@worker), data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" }, class: "btn btn-danger btn-block mb-2" %>
        <% end %>
      </div>
    </div>
  <% end %>