  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>Detalles del Trabajador</h1>
      <hr>
      
      <dl class="row">
        <dt class="col-sm-3">Nombre:</dt>
        <dd class="col-sm-9"><%= @worker.name %></dd>
        
        <dt class="col-sm-3">Apellido:</dt>
        <dd class="col-sm-9"><%= @worker.last_name %></dd>
        
        <dt class="col-sm-3">DNI:</dt>
        <dd class="col-sm-9"><%= @worker.dni %></dd>

        <dt class="col-sm-3">Fecha de Naciemiento:</dt>
        <dd class="col-sm-9"><%= @worker.birthdate %></dd>
        
        
        <dt class="col-sm-3">Departamento:</dt>
        <dd class="col-sm-9"><mark><%= @department%></mark></dd>
        
      </dl>
      
      <div class="mt-4">
        <%= link_to "Ver fichajes", worker_time_entries_path(@worker), class: "btn btn-primary" %>
        <%= link_to "Editar", edit_worker_path(@worker), class: "btn btn-primary" %>
        <%= link_to "Eliminar", worker_path(@worker), data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" }, class: "btn btn-danger" %>
        <%= link_to "Iniciar jornada", new_worker_time_entry_path(@worker), class:"btn btn-success" %>
        <%= link_to "Volver", workers_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>

  
