<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Detalles del Trabajador</h1>
      <hr>
<section class="vh-5">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-10 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img src="https://d3sa3iuubazju4.cloudfront.net/assets/cro-inv-6ce2b67d132fba48ed39bdd232d6c779c5c76461fdc07027e8bbad425d683628.png"
                alt="Avatar" class="img-fluid my-5" style="width: 160px;" />
              <h5><%= @worker.name.capitalize %> <%= @worker.last_name.capitalize %></h5>
              <p><%= @department.capitalize %></p>
              <%= link_to edit_worker_path(@worker) do %>
                <i class="bi bi-person-gear text-white display-6"></i>
              <% end %>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Información</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-12 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted"><%= @worker.email %></p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>DNI</h6>
                    <p class="text-muted"><%= @worker.dni %></p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Nacimiento</h6>
                    <p class="text-muted"><%= @worker.birthdate %></p>
                  </div>
                  <h6>Acciones</h6>
                  <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-12 mb-3">
                    <h6>Ver fichajes:</h6>
                    <%= link_to worker_time_entries_path(@worker), class: "btn btn-outline-info btn-block mb-2" do %>
                      <i class="bi bi-calendar3"></i>
                    <% end %>
                  </div> 
                  <% if current_worker == @worker %>
                    <div class="col-6 mb-3">
                      <h6>Iniciar Jornada:</h6>
                      <%= link_to worker_time_entries_path(@worker), 
                        data: { turbo_method: :post, turbo_confirm: "¿Vas ha iniciar tu jornada laboral?" }  do %>
                          <i class="bi bi-play-fill display-5 text-success"></i>
                      <% end %>
                    </div>
                    <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="row d-flex justify-content-center align-items-center">
  <div class="col col-lg-10 text-center">
    <%= link_to "Volver", workers_path, class: "btn btn-secondary btn-block" if current_worker.admin? %>
  </div>
</div>
    
