<nav class="navbar bg-dark bg-gradient border-bottom border-body navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler border-white text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Link</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown ml-auto">
        <% if user_signed_in? %>
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user.email %>
          </a>
        <% else %>
          <%= link_to "Iniciar sesión", new_user_session_path %>
          <%= link_to "Regístrate", new_user_registration_path %>
        <% end %>
          <ul class="dropdown-menu bg-dark bg-gradient border-bottom border-body">
            <% if user_signed_in? %>
              <li><%= link_to "Editar perfil", edit_user_registration_path, class:"dropdown-item text-white" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Cerrar sesión", destroy_user_session_path, data: { "turbo_method": :delete }, class:"dropdown-item text-danger" %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
